.filter-category {
    width: 120%;
    position: relative;
}

#strength-min,
#speed-min,
#skill-min,
#fear_factor-min,
#power-min,
#intelligence-min,
#wealth-min {
    height: 0;
    z-index: 1;
}

/* range slider  */
.range-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 7% 1%;
}

.slider-value-sec {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: black;
    width: 85%;
    left: 30%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px grey;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px grey;
    cursor: pointer;
}

input[type="range"] {
    appearance: none;
    height: 2px;
    width: 70%;
    position: absolute;
    background-color: grey;
    pointer-events: none;
    right: 10px;
}