
.historytable th, .historytable td{
    padding: 10px;
    border: solid 1px black;
}

.historytable th, .historytable td:not(:nth-child(1)):not(:nth-child(4)){
    text-align: center;
}

.old div, .new div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 12em;
    height: 12em;
    border-radius: 50%;
}

.old img, .new img{
    /* margin: 10px; */
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.old, .new{
    margin: 10px;
    padding: 10px;
    text-align: justify;
}

.attributes{
    margin: 10px;
}
.non-attributes{
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px rgba(0, 0, 0, 0.315);
}

.toggle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.history-attribute-table{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.329);
    font-size: large;
}

.history-attribute-table td{
    padding: 0.25em 2em;
    text-align: center;

}

.history-attribute-table td:nth-child(2), .history-attribute-table th:nth-child(2){
    background-color: black;
    color: white;
}

.changed{
    background-color: rgba(255, 0, 0, 0.26);
}