.newcharacter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.171);
}

.attributes{
    width: 160px;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px 10px 10px 10px;
}

#wealth {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 2;
    justify-self: center; 
}

.attributes input{
    height: 50px;
    width: 80px;
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
}

.details input, .image input{
    height: 50px;
    margin-bottom: 10px;
}


#description{
    height: 150px;
}

.main {
    display: flex;
}

.section{
    display: flex;
    margin: 20px;
}

.details, .image{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.newcharacter-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    margin: 10px;
    background-color: cadetblue;
}

.image-container{
    display: flex;
    border-radius: 50%;
    height: 200px;
    align-self: center;
}

.image-container img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit:fill;
}

.image-container p{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}