.round-picture {
    border-radius: 50%;
    width: 12em;
    height: 10em;
    margin-bottom: 10px;
    margin-right: 3em;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  
  }

