
.cprofile-info{
  width: 60em;
  left:12%;
  position:relative;
}

.cDisplay{
  display:flex;
  justify-content: center;/*Horizontal*/
  align-items: center; /*Vertical*/
  position:relative;
  top: 10em;
}

.cDisplay-body{
  width:100%
}

.cDisplay-table{
  display:flex;
  justify-content: center;/*Horizontal*/
  position:relative;
  top:5em;
}

.attribute-table{

  justify-content: center;
  display: flex;
  padding: 0;
  align-self: center;  
  align-items:center;
  text-align: center;
  border-collapse: collapse;
}

.attribute-table td{
  display:block;
  justify-content: center;/*Horizontal*/
  color: white;
  border-color: black;
  background-color: black;
  width: 25em;
  border:0;
  padding: 8px;
  text-align: center;

}



.editButton{

  position: relative;
  top: -2em;
}