.user-inputs {
    margin-top: 20px;
}

h3 {
    margin: 0;
}

#filters {
    margin: 30px auto 0;
    border: 3px solid black;
    background-color: white;
    display: inline-block;
    width: 100%;
    color: black;
    font-weight: 400;
    padding: 22px;
    margin-left: 2%;
    vertical-align: top
}