
.historytable th, .historytable td{
    padding: 10px;
    border: solid 1px black;
}

.historytable th, .historytable td:not(:nth-child(1)):not(:nth-child(4)){
    text-align: center;
}

.show{
    background-color: rgba(0, 0, 0, 0.16);
}

.noshow{
    display: none;
}

.toggle-button{
    background-color: transparent;
    font-size: xx-large;
}

.approved_mark{
    font-size: 50px;
    color: green;
}
.rejected{
    font-size: 50px;
    color: red;
}

.icons{
    width: 30px;
    height: 30px;
}