.background-image-blur-whitewash {
    background-image: url('./assets/background.jpg');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(15px) contrast(0.2) brightness(1.7);
    z-index: -1;
}