
.test{
  display:flex;
  justify-content: center;/*Horizontal*/
  align-items: center; /*Vertical*/
  position:relative;
  top: 5em;
}

  .profile-info  {
    width: 55em;
}
.profile-display{
  width: 22em;
}
.profile-name{
  margin-bottom: 1em;

}
.profile-box{
 right:3em;
 position:relative; 
}
  .favorite {
    border: 2px solid #000; 
    background-color: white;
    padding: 10px; 
    width: 150%;
    position:relative;
    margin-bottom: 2em; 
  }

.contribution {
    border: 2px solid #000; 
    background-color: white;
    padding: 10px; 
    width: 150%;
    position:relative;
    margin-bottom: 10px; 
}