.AdminPanel{
    display: flex;
}

.icon{
    margin: 0px 10px;
}
.functions{
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.functions button{
    background-color: black;
    border: solid 1px gray;
    box-shadow:  5px 7px 2px 1px rgba(0, 0, 0, 0.26);
    color: white;
    text-align: left;
}

.display{
    margin: 20px 30px;
}