.historytable{
    width: 50em;
}

.user-search{
    width: 100%;
    background-color: transparent;
    padding: 10px;
    margin: 10px 0px;
    border: none;
}

.active-green{
    background-color: green;
}
.active-red{
    background-color: rgb(150, 12, 12);
}