h1,
h2,
h3,
nav,
footer {
    font-family: Georgia, Cambria, "Times New Roman", serif;
}

body {
    font-family: "Lucida Sans", Verdana, Arial, sans-serif;
    font-size: 80%;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 160px;
}

header h1 {
    margin-top: 0;
    font-size: 90px;
    margin-bottom: 0;
}

h3 {
    margin: 0;
}

.user-inputs {
    margin-top: 20px;
}

.filter-category {
    width: 120%;
    position: relative;
}

#searching {
    display: inline-block;
    line-height: normal;
    width: 100%;
    margin-left: 2%;
    vertical-align: top;
}

#character-table {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
}

#character-table-thead {
    text-align: left;
    border-bottom: 2px solid black;
}

#character-stats {
    text-align: center;
}

.character-stats-tr {
    border-bottom: 1px solid lightgrey;
}

.checkbox-input {
    height: 30px;
    width: 30px;
}

.character-table-cell {
    padding: 15px;
}

.character-table-name {
    text-align: left;
}

.prev-pair {
    display: flex;
    margin-top: 17px;
    justify-content: space-between;
    font-size: medium;
    font-family: Inter, sans-serif;
    padding: 5px;
}

.prev-pair:hover {
    background-color: black;
    color: white;
}

.image-comparison {
    border: 1px solid black;
    background-color: black;
    display: flex;
    margin-top: 47px;
    justify-content: center;
    align-items: center;
    padding: 1%;
    gap: 20px;
}

.image-comparison {
    border: 1px solid black;
    background-color: black;
    display: flex;
    margin-top: 47px;
    justify-content: center;
    align-items: center;
    padding: 1%;
    gap: 20px;
}

.character-image {
    display: flex;
    flex-direction: column;
    /* arrange name and image in the center vertically */
    width: 38%;
    margin-left: 0px;
    font-size: 32px;
    color: white !important;
    font-weight: bold;
    font-family: Inter, sans-serif;
    text-align: center !important;
    align-items: center !important;
}

#strength-min,
#speed-min,
#skill-min,
#fear_factor-min,
#power-min,
#intelligence-min,
#wealth-min {
    height: 0;
    z-index: 1;
}

.img {
    aspect-ratio: 1;
    width: 25%;
    margin-top: 18px;
    border-radius: 50%;
}

.unknown-image {
    aspect-ratio: 1;
    width: 25%;
    margin-top: 18px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    font-weight: bold;
}

#vs-text {
    color: white !important;
    margin: auto 0;
    font: 400 96px Inter, sans-serif;
}

#comparison-table table {
    width: 50%;
    margin: 30px auto;
    text-align: center;
    border-spacing: 0px;
    color: white;
}

#comparison-table table thead th {
    background-color: black;
    border-color: black;
}

#comparison-table table td {
    background-color: black;
    font-size: large;
    width: 33%;
    color: white;
}

.comparison-category-cell,
.right-character-cell,
.left-character-cell {
    padding: 1%;
}

.checkbox-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid white;
    text-align: right;
    line-height: 18px;
    font-size: 25px;
    color: white;
}


/* range slider  */
.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 7% 1%;
}

.slider-value-sec {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: black;
    width: 85%;
    left: 30%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px grey;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px grey;
    cursor: pointer;
}

input[type="range"] {
    appearance: none;
    height: 2px;
    width: 70%;
    position: absolute;
    background-color: grey;
    pointer-events: none;
    right: 10px;
}

.figure-caption {
    color: white !important;
}

#previous-comparisons {
    border: 3px solid black;
    background-color: white;
    width: 100%;
    color: black;
    margin: 30px 1% 0 2%;
    padding: 16px 17px;
    display: inline-block;
    vertical-align: top;
}