
.usertable th, .usertable td{
    padding: 10px;
    border: solid 1px black;
}
.usertable td:last-child{
    text-align: center;
}
.green{
    border-radius: 50%;
    background-color: green;
    border: solid 1px black;
}
.red{
    border-radius: 50%;
    background-color: rgb(150, 7, 7);
    border: solid 1px black;
}